*{
font-family: Comic Sans MS;
}

body
{
	background-color: #1c768f;
}
.register-nav-link a
{
	text-decoration: none;
}
.login-nav-link a
{
	text-decoration: none;
}

.nav{
	background-color: black
}
.nav a {
	text-decoration: none;
	color: white;
	font-size: 24px;
	margin: 110px;
}
.about-para
{
	font-size: 20px;
	font-weight: bold;
}
.about-list
{
	font-size: 20px;
	font-weight: bold;
}
.about-email
{
	font-size: 20px;
	font-weight: bold;
}

.about-header
{
	color: navy;
}
.features-header
{
	color: navy;
}
.contact-header
{
	color: navy;
}
.about-button
{
	cursor: pointer;
}